<ion-view view-title="{{stop.stop_name}}" data-ng-init="getStopAndDepartures()">
  <ion-nav-buttons side="right">
    <a class="button icon-left ion-information-circled button-clear button-dark" ng-click="stopInfo()">Buses to this Route</a>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="departure in departures" href="#/app/buses/{{departure.route.route_id}}">
        <h2>{{departure.headsign}}</h2>
        <p><small>{{departure.expected_mins}}</small></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="#/app/buses/{{departure.route.route_id}}" type="text/ng-template">
  <ion-view view-title="{{stop.stop_name}}">
    <ion-content>
      a
    </ion-content>
  </ion-view>
</script>
