<ion-view view-title="Stops" cache-view="false" data-ng-init="getFavorites()">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="query" ng-change="search(query)">
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="stop in stops" href="#/app/stops/{{stop.i}}?stopName={{stop.n}}">
        {{stop.n}}
        <ion-option-button class="button-positive icon-left ion-heart" ng-click="favorite(stop)" ng-show="functiontofindIndexByKeyValue(favorites,'i', stop.i) == -1">Favorite</ion-option-button>
        <ion-option-button class="button-assertive icon-left ion-heart-broken" ng-click="unfavorite(stop)" ng-show="functiontofindIndexByKeyValue(favorites,'i', stop.i) > -1">Unfavorite</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
