<ion-view view-title="{{stop_name}}" data-ng-init="getStopAndDepartures()">
  <ion-nav-buttons side="right">
    <a class="button icon-left ion-android-bus button-clear button-dark" ng-click="stopInfo()">Buses</a>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <div ng-repeat="team in teams">
        <ion-item class="item-stable "
                  ng-click="toggleGroup(team)"
                  ng-class="{active: !isGroupShown(team)}">
          <i class="icon" ng-class="!isGroupShown(team) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          <span ng-bind="getStopName(team)"></span>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="departure in departures | filter: {stop_id: team}"
                  ng-show="!isGroupShown(team)">
          <h2>{{departure.headsign}}</h2>
          <p><small>{{departure.expected_mins}}</small></p>
        </ion-item>
      </div>
    </ion-list>
    <div class="card" ng-if="departures.length==0">
      <div class="item item-text-wrap">
        Looks like there are no buses coming soon.
        <i class="icon ion-android-sad" style="font-size: 32px"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
